:root {
    --outer-card-mw: 1000px;
    --outer-card-mh: 500px;
}

body{
	margin:0 auto;
	background:rgb(204, 28, 54);
}

#container {
    display: none; /* ! RETURN TO DISPLAY: NONE LATER*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-outer-body {
    width: auto;
    margin: 20px;
    border: 100px dashed white;
    align-content: center;
    padding: 10px;
    border-image: url('./assets/lace.png') 14% 20% round;  
 
}

.card-inner-body {
    width: auto;
    height: auto;
    border: 2px dashed white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/heart_overlay.PNG");
    background-size: 100%;
    background-position: center;
    padding: 30px; 
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dante-img {
    width: 300px;
    height: auto;
    filter: drop-shadow(0px 0px 20px rgba(248, 247, 248, 0.5));
}


#left-caption {
    font-size: 20px;
    font-family: "Delius", cursive;
    color: white;
    text-align: center;
}

.right-wrapper {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.birthday-label{
    color: white;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke: 1px rgb(157, 0, 63);
}

.heart-message-wrapper-wrapper-lol {
    position: relative;
    background-color: purple;   
}

.heart-message-wrapper {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    max-height: 200px;
}

.heart-message-image {
    width: auto;
    height: auto;
    max-height: 250px;
}

.heart-message-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    font-family: "Delius", cursive;
    color: white;
}

@media (max-width: 600px) {

    .card-outer-body {
        width: 70%;
        margin: 10px;
        border: 20px dashed white;
        align-content: center;
        padding: 10px;
        border-image: url('./assets/lace.png') 7% 9% round;  
    }

    .card-inner-body {
        width: auto;
        height: auto;
        border: 2px dashed white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url("./assets/heart_overlay.PNG");
        background-size: 100%;
        background-position: center;
        padding: 30px; 
    }

    .dante-img {
        width: 95%;
        height: auto;
        filter: drop-shadow(0px 0px 20px rgba(248, 247, 248, 0.5));
    }

    .heart-message-image {
        width: 90%;
        height: auto;
        max-height: 250px;
    }

    .heart-message-text {
        position: absolute;
        width: 60%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        font-family: "Delius", cursive;
        color: white;
    }
}

.code-label {
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Delius", cursive;
    top: 55%;
    left: 50%;
}

.code-container {
  padding: 24px 16px;
  margin-top: 15px;
  margin-bottom: 0px;
  position: relative;
}

.scratch-container {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 2px dashed white;
}

.scratch-card {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.code{
    color: white;
    font-size: 16px;
    font-family: "Delius", cursive;
    text-align: center;
}

canvas {
  position: absolute;
  cursor: grabbing;
}
        
#loginForm {
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}


input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}


